<ion-header>
    <ion-toolbar>
      <ion-title>login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <img src="../../assets/img/logo.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle class="container ion-text-center">Formulário - Veículo de Tração Animal</ion-card-subtitle>
        <ion-card-title>teste</ion-card-title>
      </ion-card-header>
        <ion-card-content>
        <div>
          <div>
          <div>
            <img src="../../assets/icon/_ionicons_svg_md-person.svg" alt="">
          </div>
          <div>
            <input type="text">
          </div>
        </div>
          <div>
              <div>
                <img src="../../assets/icon/_ionicons_svg_md-lock.svg" alt="">
              </div>
              <div>
                <input type="password">
              </div>
        </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>